table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}
td{
    text-align: center;
}

thead {
    background-color: red;
}

.dashboard-container {
    width: 100%;
    padding: 20px;
}
th{
    color: black;
    font-size: larger;

}
button{
    background-color: red;
    text-align: center;
    width: auto;
    font-size: 3vh;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

button:hover {
    background: black;
    color: red;
    transition: color 0.4s ease, background 0.4s ease;
    border: red 1px solid;
}

h1{
    text-align: center;
    color: white;
    background-color: red;
    font-weight: 100;
}
input {
    justify-content: center;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    background-color: rgb(178, 0, 0);


}
input:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.dashboard-container {
padding: 0;
}

#btn-send{
    margin-left:  10px;
}