.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 20px;
    background-color: rgba(207, 5, 19, 0.3);
    z-index: 100;

}

.footer-container footer {
    text-align: center;
    max-width: 90%;
}