/** ----- Image Gallery ----- */
.gallery-container{
    display: flex;

}

.image-gallery {
    margin: auto;
    position: relative;
    display: flex;
    width: 90%;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
}

.image-gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
    box-shadow: 1px 1px 5px 1px black;
}

.image-gallery img:hover {
    cursor: crosshair;
    width: 50%;
    filter: contrast(120%);

}



@media (max-width: 700px) {


    /** ----- Image Gallery ----- */
    .image-gallery {
        flex-direction: column;
        overflow: hidden;
    }


    .image-gallery img {
        width: initial;
        height: 0px;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease;
        box-shadow: 1px 1px 5px 1px black;
    }

    .image-gallery img:hover {
        cursor: crosshair;
        width: initial;
        height: 50%;
        filter: contrast(120%);

    }


}